Package: rockchip-iqfiles-rk3399
Source: rockchip-iqfiles
Version: 0.1.13
Architecture: all
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Installed-Size: 2052
Depends: rkisp-engine
Breaks: rockchip-iqfiles
Replaces: rockchip-iqfiles
Provides: rockchip-iqfiles
Section: libs
Priority: optional
Description: Additional camera tuning profiles for Rockchip RK3399
 This package contains additional camera tuning profiles that is not
 included in the official Rockchip packages.
