Source: rockchip-iqfiles
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: libs
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               pandoc,

Package: rockchip-iqfiles-rk3328
Architecture: all
Section: libs
Priority: optional
Replaces: rockchip-iqfiles,
Breaks: rockchip-iqfiles,
Provides: rockchip-iqfiles,
Depends: rkisp-engine,
         ${misc:Depends},
Description: Additional camera tuning profiles for Rockchip RK3328
 This package contains additional camera tuning profiles that is not
 included in the official Rockchip packages.
 This is currently an empty package.

Package: rockchip-iqfiles-rk3399
Architecture: all
Section: libs
Priority: optional
Replaces: rockchip-iqfiles,
Breaks: rockchip-iqfiles,
Provides: rockchip-iqfiles,
Depends: rkisp-engine | camera-engine-rkisp,
         ${misc:Depends},
Description: Additional camera tuning profiles for Rockchip RK3399
 This package contains additional camera tuning profiles that is not
 included in the official Rockchip packages.

Package: rockchip-iqfiles-rk3562
Architecture: all
Section: libs
Priority: optional
Replaces: rockchip-iqfiles,
Breaks: rockchip-iqfiles,
Provides: rockchip-iqfiles,
Depends: camera-engine-rkaiq-rk3562,
         ${misc:Depends},
Description: Additional camera tuning profiles for Rockchip RK3562
 This package contains additional camera tuning profiles that is not
 included in the official Rockchip packages.
 This is currently an empty package.

Package: rockchip-iqfiles-rk356x
Architecture: all
Section: libs
Priority: optional
Replaces: rockchip-iqfiles,
Breaks: rockchip-iqfiles,
Provides: rockchip-iqfiles,
Depends: camera-engine-rkaiq-rk3568,
         ${misc:Depends},
Description: Additional camera tuning profiles for Rockchip RK3566/8
 This package contains additional camera tuning profiles that is not
 included in the official Rockchip packages.

Package: rockchip-iqfiles-rk3576
Architecture: all
Section: libs
Priority: optional
Replaces: rockchip-iqfiles,
Breaks: rockchip-iqfiles,
Provides: rockchip-iqfiles,
Depends: camera-engine-rkaiq-rk3576,
         ${misc:Depends},
Description: Additional camera tuning profiles for Rockchip RK3576
 This package contains additional camera tuning profiles that is not
 included in the official Rockchip packages.

Package: rockchip-iqfiles-rk3588
Architecture: all
Section: libs
Priority: optional
Replaces: rockchip-iqfiles,
Breaks: rockchip-iqfiles,
Provides: rockchip-iqfiles,
Depends: camera-engine-rkaiq-rk3588,
         ${misc:Depends},
Description: Additional camera tuning profiles for Rockchip RK3588
 This package contains additional camera tuning profiles that is not
 included in the official Rockchip packages.
